torch==2.5.1
torchvision==0.20.1
tensorflow==2.18.1

opencv-python==4.10.0.84
Pillow==10.4.0
scikit-image==0.24.0
imageio==2.36.0

mtcnn==0.1.1
deepface==0.0.79
facenet-pytorch==2.5.3

numpy==1.26.4
scipy==1.13.1
pandas==2.2.2
scikit-learn==1.5.0

fastapi==0.101.1
pydantic==2.1.1
uvicorn==0.32.1

requests==2.32.3
urllib3==2.2.2
aiofiles==23.1.0

python-dotenv==1.0.1
marshmallow==3.23.2